# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
.idea
docs
/build
/tests/cucumber/features/step_definitions
/tests/cucumber/features/support
/tests/cucumber/cucumber_jUnit_results.xml
/phantomjsdriver.log
