# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
.idea
docs
build/dev
/build/test
build/prod
build/test/specs.js
/tests/cucumber/features/step_definitions
/tests/cucumber/features/support