//Bootstrap variables
@import "../../node_modules/bootstrap/less/variables.less";

@import "./variables.less";

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// Markers
.marker_selfeducation {
  background-color: @marker-selfeducation-bg;
}
.marker_absence {
  background-color: @marker-absence-bg;
}
.marker_testperiod {
  background-color: @marker-testperiod-bg;
}
.marker_project {}

// Styles for workload page
#workload {

  .markers-list {

    li {
      display: inline-block;
      float: right;
      margin: 0 0 0 20px;

      .box {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #cccccc;
      }
      .box.danger {
        background-color: @state-danger-bg;
      }
      .box.warning {
        background-color: @state-warning-bg;
      }
      .box.info {
        background-color: @state-info-bg;
      }
    }
  }

  .workload-grid {
    margin-top: 20px;
  }
}