// Styles for workload page
#workload {

  .markers-list {

    li {
      display: inline-block;
      float: right;
      margin: 0 0 0 20px;

      .box {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #cccccc;
      }
      .box.danger {
        background-color: #f2dede;
      }
      .box.warning {
        background-color: #fcf8e3;
      }
      .box.info {
        background-color: #d9edf7;
      }
    }
  }

  .workload-grid {
    margin-top: 20px;
  }
}